#!/usr/bin/make -f

export DH_VERBOSE=1

DESTDIR = debian/ros-jazzy-robotops-msgs
INSTALL_DIR = $(DESTDIR)/opt/ros/jazzy/share/robotops_msgs

%:
	dh $@

override_dh_auto_configure:
	# Source package - no configuration needed

override_dh_auto_build:
	# Source package - no build needed

override_dh_auto_test:
	# Source package - no tests to run

override_dh_auto_install:
	mkdir -p $(INSTALL_DIR)/msg
	cp package.xml $(INSTALL_DIR)/
	cp CMakeLists.txt $(INSTALL_DIR)/
	cp msg/*.msg $(INSTALL_DIR)/msg/

override_dh_shlibdeps:
	# Source package - no shared library dependencies
