name: CI

on:
  push:
    branches: ['feature/**', '[0-9]*']

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install just
        uses: extractions/setup-just@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: false
          load: true
          tags: robotops_msgs:ci
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Run CI tests
        run: just ci-test
